{% extends 'base.html' %}
{% block title %} 
About Me 
{% endblock %}

{% block content %} 
<div class="center">
    <h2 class="center">About Leonard Morrison</h2>
<p class="center">
    Salutations!
    I'm Leonard Morrison. A software Developer by trade. I'm also the man behind this very blog.
    I wrote this blog as a means to expand my career opportunities and go above and beyond in terms of my skills.
    Another reason I've built this blog is to demonstrate my skills as a developer and be able to demonstrate my value.
    The 3rd reason I developed this blog is because I wanted an avenue to express myself with my interests. 
    Sure, I'll still talk about programming, there's so much I'd like to talk about like video games, my personal life, and so much more. 
</p> 



<p class="center">

</p>
</div>

{% endblock %}