{% extends 'base.html' %}
{% block title %} 
About Me 
{% endblock %}

{% block content %} 
<div class="center">
    <h2 class="text-center">About Leonard Morrison</h2>
<p class="text">
    Salutations!<br>
    I'm Leonard Morrison. A software Developer by trade. I'm also the man behind this very blog.
    I wrote this blog as a means to expand my career opportunities and go above and beyond in terms of my skills.
    Another reason I've built this blog is to demonstrate my skills as a developer and be able to demonstrate my value.
    The 3rd reason I developed this blog is because I wanted an avenue to express myself with my interests.
    I can write code in a variety of programming languages, but for this blog, I've built it using the Django framework. 
    I've been hard at work to develop my own programming style. It's important to do these things according. 
    Sure, I'll still talk about programming, there's so much I'd like to talk about like video games, my personal life, and so much more. 
</p> 



<p class="text">
    My interests include video games, martial arts (particularly grapping martial arts like Judo and Brazilian Jiu-Jitsu), weightlifting and music.
    In addition to programming, I'd hope to have a place where I can speak about these interests as well as my personal life public publically. I'm


</p>
</div>

{% endblock %}