{% extends  "base.html" %} 

{% block title %}
Leonard Morrison's blog!
{% endblock %}

{% block content %}
<div class="center">

{% if posts.Post.all.count > 0 %}
{% for x in posts%}
<h2><a href="{% url 'detail slug=x.slug'%}">{{x.title}}</a></h2>
<p>{{x.date_created}} | {{x.date_updated}}</p>
<p>{{x.body}}
    <button type="button" class="btn btn-primary" href="{% url 'edit_post' pk=x.pk %}">Edit Post</button>
    <button type="button" class="btn btn-danger" href="{% url 'delete_post' pk=x.pk %}">Delete Post</button>
</p>


{% endfor %}

{% else %}
<p class="text-center">There are no blog posts at the moment. Check back later to see it.</p>
{% endif %}


<button type="button" class="btn btn-success" href="{% url 'add_post' %}">Create Post</button>





</div>

<div>
    
</div>

{% endblock %}
