{% extends  "base.html" %} 

{% block title %}
Leonard Morrison's blog!
{% endblock %}

{% block content %}
<div class="center">

{% if posts.Post.all.count > 0 %}
{% for x in posts%}
<h2><a href="{% url 'detail slug=x.slug'%}">{{x.title}}</a></h2>
<p>{{x.date_created}} | {{x.date_updated}}</p>
<p>{{x.body}}</p>


{% endfor %}

{% else %}
<p class="text-center">There are no blog posts at the moment. Check back later to see it.</p>
{% endif %}

{% if member.is_authenticated and member.is_contributor %}
<button type="button" class="btn btn-success">Create Post</button>



{% endif %}

</div>

<div>
    
</div>

{% endblock %}
