<% provide(:title, "About Me") %>
<h1 class="title">About Me</h1>
<h2 class="is-2">I'm Leonard Morrison.</h2>

<div class="row">

<div class="paragraph1">
  <div class="picture1">
    <%= render 'layouts/mdimage', locals: {folder: 'static', filename: 'LeonardMorrison-1.jpg'} %>
  </div>

  <p>I create applications in various programming languages.
  I'm a software developer based in Edmonton, Alberta, Canada.

  I'm a native of London, Ontario.
  Fun Fact: London, Ontario is the birthplace of Ryan Gosling.  </p>


</div>



</div>









<%= render 'layouts/mdimage', locals: {folder: 'static', filename:'Me-in-Seattle.jpg'} %>
<p>I love to travel. I've been to London (Ontario), Toronto, Buffalo, Columbus, Calgary, Edmonton, London (UK),
  New York City, Portland, Seattle, Tokyo, and Vancouver.  </p>










</div>
