<% provide(:title, "About Me") %>


<div class="row">
<div class="title">
  <h1 class="title">About Me</h1>
  <h2 class="is-2">I'm Leonard Morrison.</h2>
</div>


<div class="part1">
<div class="picture1">
    <%= render 'layouts/mdimage', locals: {folder: 'static', filename: 'LeonardMorrison-1.jpg'} %>
</div>
<div class="paragraph1">
  <p>I create applications in various programming languages.
  I'm a software developer based in Edmonton, Alberta, Canada.</p><br>

  <p>
  I'm a native of London, Ontario.
  Fun Fact: London, Ontario is the birthplace of Ryan Gosling.
  </p>
</div>

</div>

<div class="part2">
  <div class="picture2">
    <%= render 'layouts/mdimage', locals: {folder: 'static', filename:'Me-in-Seattle.jpg'} %>
  </div>
<div class="paragraph2">
  <p>I love to travel. I've been to London (Ontario), Toronto, Buffalo, Columbus, Calgary, Edmonton, London (UK),
    New York City, Portland, Seattle, Tokyo, and Vancouver.  </p>
</div>


</div>




</div>



















</div>
