<% provide(:title, "About Me") %>


<div class="container-fluid">
<div class="aboutme">
  <h1 class="is-1">About Me</h1>
</div>

<div class="row">
  <div class="part1">
  <div class="picture1 col-12 col-lg-6 order-lg-2">
      <%= render 'layouts/lgimage', locals: {folder: 'static', filename: 'Mario-Leonard.jpg'} %>
  </div>

  <div class="paragraph1 col-12 col-lg-6 order-lg-1">
    <h2>Beginnings</h2>
    <p>I create applications in various programming languages.
    I'm a software developer based in Edmonton, Alberta, Canada.


    I'm a native of London, Ontario, the "Forest City".
    Fun Fact: London, Ontario is the birthplace of Ryan Gosling.
    </p>
  </div>

  </div>

  <div class="part2">
    <div class="picture2 col-12 col-lg-6 order-lg-4">
      <%= render 'layouts/lgimage', locals: {folder: 'static', filename:'Me-in-Seattle.jpg'} %>
    </div>
  <div class="paragraph2 col-12 col-lg-6 order-lg-3">
    <h2>I love to travel!</h2>
    <p>I've been to London (Ontario), Toronto, Buffalo, Columbus, Calgary, Edmonton, London (UK),
      New York City, Portland, Seattle, Tokyo, and Vancouver.  </p>
  </div>
  </div>
</div>

<div class="row">
  <div class="part3">

    <div class="paragraph3 col-12 col-lg-6 order-lg-5">
      <h2>I Love to Code</h2>
      <p>I've had experience creating my own personal projects. From this blog to my weather app.
        From design to deployment, I can do it all. Check out my Portfolio page for more info!</p>
    </div>

  </div>


  <div class="part4">

      <div class="paragraph4">
        <h2>I play a lot of Video Games</h2>
        <p>For as long as I can remember, I've been playing video games.
          I'm mostly a Nintendo guy (as my picture with the Mario Statue proves), but I'm open to a lot of kinds of Video Games.
          I'm currently crazy about Super Smash Bros. Ultimate. My favourite Nintendo Character is Mario. As a kid, I loved being the hero.
          Mario influenced my love for colour red.
        </p>

      </div>

  </div>

  <div class="part5">
    <div class="paragraph5">
      <h2>I can speak Japanese!</h2>
      <p>I started learning Japanese when I was in High School.
        I wanted to learn Japanese and I felt that the classes alone weren't enough.
        So I registered to a website called <%= link_to "https://lang-8.com" %>
      </p>
    </div>

    <div class="picture5">

    </div>

  </div>


  <div class="part6">

    <div class="picture6">
      <%= render 'layouts/mdimage', locals: {folder: 'static', filename: 'Startup-Edmonton.jpg' } %>
    </div>



  </div>



</div>



</div>
