<h3 class="title has-text-centered">Leban's Blog!</h1>


<div class="posts-container">

<% @posts.each do |post|  %>
    <div class="post-container">
    <h2><%= link_to post.title, "/posts/#{post.id}" %></h2>
    <div class="author">
    <h3>Authored by: <%= post.user.username%></h3>
    </div>
    <p><%=raw post.content %></p><br/>
    </div>




 
<% end %>

<div class="newpage">
<%= link_to 'New Page', new_post_path%>
</div>

</div>



