/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";
 @import "font-awesome";
 @import "personalize.css";
 @import "home.scss";
 @import "posts.scss";
 @import "users.scss";
 @import "comments.scss";

 $primary-color: #AA3939;
 $secondary-color: #D46D6A;
 $transition-color: #FFAAAA;

 $laptop-width: 1200px;
p
{
  color: #000;
}

.title
{
  color: #fff;
}

 .footer,  .header
 {
     background-color: $primary-color;
     width: 100%;
     color: #fff;
 }




 header
 {
     background-color: $primary-color;
     text-align: center;
     color: #ffffff;
 }


 .navbar-menu
 {
   width: 100%;
   display: flex;
 }

 .level
 {
     width: 100%;
     background-color: $secondary-color;
 }

 .level-item
 {
     background-color: #fff;
     margin: 0.5rem;
 }

 .level-item:any-link + .level-item
 {
     color: #fff;
 }

 .level > .level-item:hover
 {
    background-color: $transition-color;
    color: #fff;
    animation-delay: 500ms;
 }

 .footer
 {

     bottom: 0;
     position: unset;
     clear: both;
     padding-bottom: 13rem;
     text-align: center;


 }

body
{
    overflow-y: visible;
}

.footer .fa
{
    color: #36d6d6;
    transition: color 150ms linear 50ms;
}

.fa:hover
{
    color: #5336d6;
}

.contact
{
    margin: auto 0;
}

@media screen and (min-width: $laptop-width)
{
    .level
    {
        height: 100px;
    }
}
