// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.indiv-comment
{
  border-radius: 2.5rem;
  width: 60%;
  border: 0.02rem solid #6fafe7;
}
