// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color-primary: #ff1744;
$secondary-color: #1e88e5;
$border-color: #2626e2;
$new-page-button: #00FF7F;
$edit-page-button: #FAFA67;
$delete-page-button: #000000;



.posts-container
{
    width: 90%;
    margin: 0 auto;

}

.post-title
{
    font-size: 2.5rem;
    border-bottom: 0.3rem solid $border-color;
}

.post-container
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    margin-bottom: 60px;
    transition: all .5s ease;
    overflow: hidden;
    border: 4px groove $border-color;
    transition: background-color 200ms;


}

nav > .level
{
 background-color: $secondary-color;
}



.newpage
{
    color: $new-page-button;
    width: 7%;
    margin-bottom: 5em;
    line-height: 7.5%;
}

.functions
{
  width: auto;
  margin-bottom: 5em;
}

.editpage
{
  color: $edit-page-button;
  width: 7%;
  margin-bottom: 5em;
  line-height: 7.5%;
}

.deletepage
{
  color: $delete-page-button;
  width: 7%;
  margin-bottom: 5em;
  line-height: 7.5%;
}


.author
{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.view
{
    text-decoration: none;
    text-align: center;
}

.newpage
{
    color: #7effe7e;
}

.thumpup
{
    color: #df3131;
}

.thumpdown
{
    color: #2d2dda;
}


.footer
{
    width: 100%;
}
