// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color-primary: rgb(236, 44, 44);
$secondary-color: #8691ee;
$transition-color: #86d4ee;
$border-color: #2626e2;
$new-page-button: #52e652;



.posts-container
{
    width: 90%;
    margin: 0 auto;

}

.post-container
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $secondary-color;
    border-radius: 5px;
    margin-bottom: 60px;
    transition: all .5s ease;
    overflow: hidden;
    border: 4px groove $border-color;
    transition: background-color 200ms;


}

.post-container:hover
{
    background-color: $transition-color;
}

.newpage
{
    background-color: $secondary-color;
    width: 5%;
    margin-bottom: 3em;
}

.newpage:hover
{
    background-color: #7eff7e;
}

.author
{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.view
{
    text-decoration: none;
    text-align: center;
}

.newpage
{
    color: #000;
    background-color:$new-page-button;
}

.thumpup
{
    color: #df3131;
}

.thumpdown
{
    color: #2d2dda;
}


.footer
{
    width: 100%;
}

