// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.row
{
  justify-content: center;
  width: 60%;
  margin: auto;
  text-align: center;
  align-items: center;
  color: #000;

}

.aboutme
{
  font-size: 2.5rem;
  text-align: center;
  color: #000;
}



.container
{
  color: #000;
}

.title
{
  text-align: center;
  margin-bottom: 5.5rem;
  color: #000;
}

.part1, .part2
{
  display: block;
}

.part2
{
  margin-top: 4.5rem;
}

.picture1
{
  transform: rotate(270);
  -webkit-transform: rotate(-90deg);
  display: block;
  float: right;
  align-self: center;
  flex-grow: 2;

}

.picture2
{
  display: block;
  align-items: flex-start;
  float: right;
  align-self: center;
}
