// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row
{
  justify-content: center;
  width: 60%;
  margin: auto;
  text-align: center;
}

.picture1
{
  transform: rotate(270);
  -webkit-transform: rotate(-90deg);
  margin: auto;
}
