<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
<h1>Welcome to my Blog!</h1>

<p>Thank you for registering for my blog. You can comment on my blog posts and add to the conversation.</p>
<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>I hope to hear from you soon!</p>

<p>Thanks in advance,<p><br>



<p>Leonard Morrison</p>

</body>

<footer>
  &copy; 2019 Leonard Morrison
</footer>
