<footer class="footer">
<ul class="level">

<li class="level-item">
<%= link_to "https://github.com/TheBigL", title: 'Check out my projects on GitHub!' do%>
    <i class="fa fa-github fa-3x"></i>
<% end %>

</li>


<li class="level-item">
<%= link_to "https://www.linkedin.com/in/leo-morrison/", title: 'Connect with me on LinkedIn.' do%>
    <i class="fa fa-linkedin fa-3x"></i>
<% end %>
<li>


<li class="level-item" >
<%= mail_to "leonardmorrison@outlook.com", title: 'Want something translated from or to Japanese? Want to ask me some questions? Feel free to shoot me an email!' do%>
    <i class="fa fa-envelope fa-3x"></i>
<% end %>
</li>


<li class="level-item">
<%= link_to "https://twitter.com/ChunkyBigL", title: 'Follow me on Twitter!' do%>
    <i class="fa fa-twitter fa-3x"></i>
<% end %>
</li>

</ul>

copy&; 2019 by Leonard Morrison
</footer>
