  

<nav class="navbar-menu" aria-label="breadcrumbs">

<ul class="level">

<li class="level-item">
<%= link_to 'Main Blog', '/posts' %>
</li>

<li class="level-item">
<%= link_to 'Sign up',  new_user_registration_path %>
</li>

<li class="level-item">
<%= link_to 'Sign in',  new_user_session_path %>
</li>

</ul> 
</nav>